/* font */
@font-face {
	font-family: 'Montserrat';
	src: url("fonts/Montserrat-Black.eot");
	src: local("☺"), url("fonts/Montserrat-Black.woff") format("woff"), url("fonts/Montserrat-Black.ttf") format("truetype"), url("fonts/Montserrat-Black.svg") format("svg");
	font-weight: 900;
	font-style: normal
}
@font-face {
	font-family: 'Montserrat';
	src: url("fonts/Montserrat-Bold.eot");
	src: local("☺"), url("fonts/Montserrat-Bold.woff") format("woff"), url("fonts/Montserrat-Bold.ttf") format("truetype"), url("fonts/Montserrat-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal
}
@font-face {
	font-family: 'Montserrat';
	src: url("fonts/Montserrat-Regular.eot");
	src: local("☺"), url("fonts/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat-Regular.ttf") format("truetype"), url("fonts/Montserrat-Regular.svg") format("svg");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: 'Montserrat';
	src: url("fonts/Montserrat-Light.eot");
	src: local("☺"), url("fonts/Montserrat-Light.woff") format("woff"), url("fonts/Montserrat-Light.ttf") format("truetype"), url("fonts/Montserrat-Light.svg") format("svg");
	font-weight: 300;
	font-style: normal
}
/* all settings */
body, p, h1, h2, h3, h4, h5, h6, a {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body {
    overflow: hidden;
}
a {
    text-decoration: none;
}

.page {
    background-color: #0c0c0c;
    display: flex;
    align-items: stretch;
}
/* grid */
.left-all {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 
    "header header"
    "l-side-nav main"
    "footer footer";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr 1fr;
}
header {
    grid-area: header;
}
.l-side-nav {
    grid-area: l-side-nav;
}
.main {
    grid-area: main;
    height: 100%;
}
.footer {
    grid-area: footer;
}

/* right features */ 
#right-menu {
    width: 250px;
    height: 100vh;
    background-color: #343434;
    color: white;
    transition: 1s;
    box-shadow: #4f4f4f 0px 0px 10px;
}
#right-menu.active {
    margin-right: -170px;
    background-color: #0c0c0c;
}
#right-menu li {
    margin: 10px 0px 10px 0px;
    text-align: left;
    font-size: 23px;  
}
#right-menu a {
    padding: 5px 0px 5px 30px;
    display: block;
    text-decoration: none;
    color: white;
}
#right-menu a:hover {
    transition: 0.3s;
    background-color: white;
    color: #343434;
}
.collapse-btn {
    margin: 50px 0px 15px 25px;
    background-color: #343434;
    color: white;
    border: none;
    font-size: 25px;
}
.collapse-btn:hover {
    background-color: white;
    color: #343434;
    border-radius: 10px;
}
.collapse-btn.active {
    background-color: #0c0c0c;
}
.collapse-btn.active:hover {
    background-color: white;
    color: #0c0c0c;
    border-radius: 10px;
}
.nav-options {
    float: left;
    width: 50px;
    padding: 6px 0px 0px 0px;
}

/* left feature */
.left-all {
    background-color: #0c0c0c;
    width: 100%;
    height: 100vh;
}
header {
    display: flex;
    justify-items: center;
    align-items: center;   
}
.header-logo{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-left: 20%;
}
.header-logo img {
    width: 50px;
    height: auto;
}
.header-logo p{
    margin: 1px 0px 0px 10px;
    font-size: 20px;
    font-weight: bold;
}
.l-side-nav {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
}
.side-nav {
    font-size: 15px;
}
.side-nav li{
    color: #343434;
    margin-top: 55%;
    margin-bottom: 55%;
}
.side-nav>li span {
    position: relative;
	visibility: hidden;
}
.side-nav li:hover {
    cursor: pointer;
    color: #727272;
}
.side-nav li::before {
    position: absolute;
}
.side-nav li:nth-child(1)::before {
	content: "01";
}
.side-nav li:nth-child(2)::before {
	content: "02";
}
.side-nav li:nth-child(3)::before {
	content: "03";
}
.side-nav li:nth-child(4)::before {
	content: "04";
}
.side-nav li:nth-child(5)::before {
	content: "05";
}
.side-nav li.active {
	color: white;
	transition: color .4s ease-in-out;
}
.side-nav li.active span {
    justify-content: center;
	visibility: visible;
	transition: color .4s ease-in-out;
}
.side-nav li.active::before {
	visibility: hidden;
    transition: color .4s ease-in-out;
}

.section{
    height: 100%;
    width: 100%;
    visibility: hidden;
}
.section.active {
    visibility: visible;
}
.intro {
    padding: 20px;
    position: relative;
    height: 100%;
    width: 100%;

}
.intro h1 {
	font-size: 68px;
	font-weight: 900;
	line-height: 1;
	z-index: 1;
    text-shadow: #4f4f4f 2px 2px 2px; 
}
#photoCarousel {
    border: solid;
    position: absolute;
    height: 100%;
    width: 60%;
    right: 28%;
    top: 0;
}
.carousel-inner {
    height: 100%;
    border: solid;
}
/* .intro img {
    height: 100%;
    width: auto;
    position: absolute;
    right: 28%;
    top: 0;
} */
#btn-learnMore {
    position: absolute;
    bottom: 10%;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #0f33ff;
    color: white;
    border: none;
    padding: 5px 15px 5px 15px;
    transition: 0.5s ease-in-out;
}
#btn-learnMore:hover {
    box-shadow: 5px 5px #4f4f4f;
}
