.timeline__img {
    max-width: 40%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
    margin: auto 1% auto 5%;
    /* 避免長方框下面顯示不正常 */
    width: 100%;
    margin: 0px auto;
    border: solid 1px gray;
    overflow: hidden;
    width: 748px;
    float: left;
    /* 圖片在左邊 */
    padding: 20px;
}

/*內文文字顏色*/
.timeline__content-desc {
    margin: 0;
    font-size: 15px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.7);
    font-family: Cardo;
    font-weight: normal;
    line-height: 25px;
    float: right;
    /* 文字在右邊 */
    width: 430px;
    padding: 20px 20px 0px 0px;
}

.timeline__content-title {
    font-size: 70px;
}