
.page {
    background-color: #0c0c0c;
    display: flex;
    align-items: stretch;
}
.left-all {
    background-color: #0c0c0c;
    width: 100%;
    height: 100vh;
}
#right-menu {
    padding: 30px;
    width: 250px;
    height: 100vh;
    background-color: #343434;
    color: white;
    transition: 1s;
}
#right-menu li {
    margin: 10px;
    padding: 3px;
    text-align: left;

    font-size: 23px;  
}
#right-menu a {
    text-decoration: none;
    color: white;
}
#right-menu a:hover {
    transition: 0.3s;
    color: gray;
}
.outer-nav {
    
    
}
.collapse-btn {
    margin: 10px;
    padding: 3px;
    background-color: #343434;
    color: white;
    border: none;
    font-size: 23px;
}
